{"openapi":"3.0.1","info":{"title":"SMD API Documentation","description":"API documentation for SMD (Syllabus Management & Development) system","license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.0"},"servers":[{"url":"https://api.syllabus.io.vn","description":"Production Server"}],"tags":[{"name":"TaskV2","description":"Endpoints for managing tasks within sprints"},{"name":"Permission","description":"Permission Management APIs"},{"name":"ReviewV2","description":"Endpoints for managing task reviews (V2)"},{"name":"Assessment Category","description":"Assessment Category Management APIs"},{"name":"Syllabus","description":"Endpoints for managing course syllabuses and their review lifecycle"},{"name":"Syllabus Action Logs","description":"Quản lý lịch sử tác động lên đề cương"},{"name":"Role","description":"Role Management APIs"},{"name":"Assessment Type","description":"Assessment Type Management APIs"},{"name":"Sprint","description":"Endpoints for managing agile sprints"},{"name":"Block","description":"Quản lý các khối nội dung của tài liệu"},{"name":"Authentication","description":"Authentication APIs"},{"name":"Document","description":"Endpoints for managing Document"},{"name":"Curriculum PDF","description":"Export full curriculum to PDF"},{"name":"Request","description":"Endpoints for managing requests"},{"name":"Curriculum","description":"Curriculum Management APIs - Quản lý khung chương trình đào tạo"},{"name":"Notification","description":"Endpoints for managing in-app notifications"},{"name":"Session","description":"Session Management APIs"},{"name":"Source","description":"Quản lý tài liệu tham khảo (Sách, Giáo trình, Link)"},{"name":"Subject","description":"Endpoints for managing academic subjects and their metadata"},{"name":"Group","description":"Group Management APIs"},{"name":"POs","description":"Program Outcomes Management APIs - Higher level educational goals"},{"name":"Prerequisite","description":"Endpoints for managing subject prerequisites"},{"name":"CLO-Session Mappings","description":"Matrix mapping between CLO and Session"},{"name":"Syllabus Source","description":"Management of the relationship between Syllabuses and Reference Sources"},{"name":"Curriculum Group Subject","description":"Curriculum-Group-Subject Mapping APIs - Quản lý môn học trong khung chương trình"},{"name":"Feedback Form","description":"Quan ly form feedback va tich hop Google Forms"},{"name":"CLOs","description":"Course Learning Outcomes Management APIs"},{"name":"Proposed Source","description":"Quản lý đề xuất tài liệu tham khảo cho môn học (ProposedSource)"},{"name":"CLO-Assessment Mappings","description":"Matrix mapping between CLO and Assessment"},{"name":"CLO-PLO Mappings","description":"Matrix mapping between CLO and PLO"},{"name":"Department","description":"Endpoints for managing academic departments"},{"name":"Major","description":"Major Management APIs"},{"name":"Material","description":"Material Management APIs"},{"name":"PO-PLO Mappings","description":"Matrix mapping between Program Outcomes (PO) and Program Learning Outcomes (PLO)"},{"name":"Regulation","description":"Regulation Management APIs"},{"name":"Assessment","description":"Assessment Management APIs"},{"name":"PLOs","description":"Program Learning Outcomes Management APIs"},{"name":"Account","description":"Account Management APIs"}],"paths":{"/api/v1/tasks-v2/{taskId}":{"get":{"tags":["TaskV2"],"operationId":"getTaskById","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaskV2Response"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["TaskV2"],"operationId":"updateTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskV2UpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaskV2Response"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["TaskV2"],"operationId":"deleteTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/reviews-v2/{reviewId}":{"get":{"tags":["ReviewV2"],"summary":"Get review detail by ID","operationId":"getById","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectReviewV2Response"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["ReviewV2"],"summary":"Update an existing review","description":"Only non-null fields in the request body will be applied.","operationId":"update","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewV2UpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectReviewV2Response"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["ReviewV2"],"summary":"Delete a review by ID","operationId":"delete","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/{formId}":{"get":{"tags":["Feedback Form"],"summary":"Chi tiet form","operationId":"getFormDetail","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDetailResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Feedback Form"],"summary":"Cap nhat thong tin form (formType, title)","operationId":"updateForm","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFormRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormRecordResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Feedback Form"],"summary":"Xoa form va toan bo mapping, thong tin lien quan","operationId":"deleteForm","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/sections/{sectionId}":{"put":{"tags":["Feedback Form"],"summary":"Cap nhat noi dung Section","operationId":"updateSection","parameters":[{"name":"sectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SectionResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Feedback Form"],"summary":"Xoa Section khoi Form","operationId":"deleteSection","parameters":[{"name":"sectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/questions/{questionId}":{"put":{"tags":["Feedback Form"],"summary":"Cap nhat thong tin Cau hoi va Options","operationId":"updateQuestion","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateQuestionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Feedback Form"],"summary":"Xoa Cau hoi khoi Section","operationId":"deleteQuestion","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/syllabus/{id}":{"get":{"tags":["Syllabus"],"summary":"Get syllabus detail","description":"Retrieves full details of a syllabus including sessions and assessments","operationId":"getDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSyllabusResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Syllabus"],"summary":"Update syllabus information","description":"Updates metadata like bloom level and name. Only allowed for DRAFT status.","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyllabusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSyllabusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subjects/{id}":{"get":{"tags":["Subject"],"summary":"Get subject detail by ID","description":"Retrieves full subject details including Department and CLOs using JOIN FETCH for optimal performance.","operationId":"getDetail_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Subject"],"summary":"Update subject information","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Subject"],"summary":"Soft delete subject","description":"Sets subject status to inactive instead of hard deleting from database","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sprints/{id}":{"get":{"tags":["Sprint"],"summary":"Get sprint detail by ID","operationId":"getDetail_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSprintResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Sprint"],"summary":"Update sprint information","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSprintResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Sprint"],"summary":"Delete sprint","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sources/{id}":{"get":{"tags":["Source"],"summary":"Xem chi tiết tài liệu","description":"Lấy thông tin chi tiết của một tài liệu dựa trên ID.","operationId":"getDetail_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Source"],"summary":"Cập nhật tài liệu","description":"Cập nhật thông tin tài liệu đã tồn tại dựa trên ID.","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Source"],"summary":"Xóa tài liệu","description":"Xóa vĩnh viễn tài liệu khỏi hệ thống.","operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sessions/{id}":{"get":{"tags":["Session"],"summary":"Get session by ID","operationId":"getSessionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSessionResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Session"],"summary":"Update session by ID","operationId":"updateSession","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSessionResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Session"],"summary":"Delete session by status rule","operationId":"deleteSession","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/roles/{id}":{"get":{"tags":["Role"],"summary":"Get role by ID","operationId":"getRoleById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRoleResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Role"],"summary":"Update role by ID","operationId":"updateRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRoleResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/regulations/{id}":{"get":{"tags":["Regulation"],"summary":"Get regulation by ID","operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRegulationResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Regulation"],"summary":"Update regulation","operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRegulationResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Regulation"],"summary":"Delete regulation","operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/proposed-sources/{id}":{"get":{"tags":["Proposed Source"],"summary":"Xem chi tiết đề xuất tài liệu","description":"Lấy thông tin chi tiết của một đề xuất tài liệu dựa trên ID.","operationId":"getDetail_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Proposed Source"],"summary":"Cập nhật đề xuất tài liệu","description":"Thay đổi tài liệu hoặc môn học được liên kết trong một đề xuất tham khảo.","operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProposedSourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Proposed Source"],"summary":"Xóa đề xuất tài liệu","description":"Xóa liên kết đề xuất tài liệu. Không ảnh hưởng đến tài liệu hay môn học gốc.","operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/pos/{id}":{"get":{"tags":["POs"],"summary":"Get PO Detail","description":"Retrieve detailed information of a specific PO by its ID.","operationId":"getDetail_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["POs"],"summary":"Update PO","description":"Update po_code and description for a specific PO.","operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/POsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["POs"],"summary":"Delete PO","description":"Soft delete a PO by moving its status to ARCHIVED.","operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/plos/{id}":{"get":{"tags":["PLOs"],"summary":"Get PLO Detail","operationId":"getDetail_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["PLOs"],"summary":"Update PLO","description":"Update plo_code and description.","operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PLOsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["PLOs"],"summary":"Delete PLO","operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/permissions/{id}":{"get":{"tags":["Permission"],"summary":"Get permission by ID","operationId":"getPermissionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPermissionResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Permission"],"summary":"Update permission","operationId":"updatePermission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPermissionResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Permission"],"summary":"Delete permission","operationId":"deletePermission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/notifications/{id}/mark-as-read":{"put":{"tags":["Notification"],"summary":"Mark a notification as read","operationId":"markAsRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectNotificationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/materials/{id}":{"put":{"tags":["Material"],"summary":"Update material details","operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectMaterialResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Material"],"summary":"Delete a material","operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/majors/{id}":{"get":{"tags":["Major"],"summary":"Get Major details by ID","description":"Retrieves comprehensive information about a specific Major using its unique UUID.","operationId":"getDetail_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectMajorResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Major"],"summary":"Update an existing major","description":"Update the details of an existing major based on its unique ID (UUID).","operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MajorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectMajorResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Major"],"summary":"Delete a major (Soft Delete)","description":"Mark a major as deleted. The record remains in the database but will be excluded from general listings.","operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/group/{id}":{"get":{"tags":["Group"],"summary":"Get group by ID","operationId":"getGroupById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectGroupResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Group"],"summary":"Update group by ID","operationId":"updateGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectGroupResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/document/{id}":{"get":{"tags":["Document"],"summary":"Get document details by ID","operationId":"getById_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDocumentResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Document"],"summary":"Update document information","operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDocumentResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Document"],"summary":"Delete a document","operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/departments/{id}":{"get":{"tags":["Department"],"summary":"Get department details by ID","operationId":"getDetail_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDepartmentResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Department"],"summary":"Update department information","operationId":"update_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDepartmentResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Department"],"summary":"Delete a department","operationId":"delete_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculums/{id}":{"get":{"tags":["Curriculum"],"summary":"Get curriculum detail by ID","description":"Retrieve full curriculum details including major information.","operationId":"getCurriculumDetail","parameters":[{"name":"id","in":"path","description":"Curriculum ID (UUID)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Curriculum"],"summary":"Update an existing curriculum","description":"Update curriculum details. Requires CURRICULUM_UPDATE permission.","operationId":"updateCurriculum","parameters":[{"name":"id","in":"path","description":"Curriculum ID (UUID)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurriculumCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Curriculum"],"summary":"Soft delete curriculum","description":"Sets curriculum status to inactive instead of hard deleting from database","operationId":"delete_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clos/{id}":{"get":{"tags":["CLOs"],"summary":"Get detailed information of a CLO by ID","operationId":"getDetail_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["CLOs"],"summary":"Update CLO information including Code, Name, Description, and Bloom Level","operationId":"update_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CLOsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["CLOs"],"summary":"Delete a CLO","operationId":"delete_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-plo-mappings/{id}":{"put":{"tags":["CLO-PLO Mappings"],"summary":"Update contribution level (Low/Medium/High)","operationId":"update_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"level","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloPloMappingResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["CLO-PLO Mappings"],"operationId":"delete_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/blocks/{id}":{"get":{"tags":["Block"],"summary":"Lấy chi tiết một block","operationId":"getDetail_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBlockResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Block"],"summary":"Cập nhật nội dung một block","operationId":"update_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBlockResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Block"],"summary":"Xóa một block","operationId":"delete_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/blocks/update-list":{"put":{"tags":["Block"],"summary":"Cập nhật nội dung một block","operationId":"update_16","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateBlockRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListBlockResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/blocks/material/{materialId}":{"get":{"tags":["Block"],"summary":"Lấy danh sách blocks theo Material (Phân trang)","description":"Kết quả trả về được đóng gói trong PagedResponse, sắp xếp theo thứ tự idx.","operationId":"getAllByMaterial","parameters":[{"name":"materialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseBlockResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Block"],"summary":"Bulk Update blocks theo Material (xóa + upsert)","description":"### Quy trình cập nhật hàng loạt blocks của một tài liệu (material):\n1. **deleteBlockList**: danh sách blockId cần xóa. Hệ thống sẽ tự động kiểm tra và xóa các bản ghi liên kết trong bảng **session_material_block** trước khi xóa block.\n2. **blocks**: danh sách blocks cần upsert. Nếu có `blockId` → cập nhật block hiện có; không có `blockId` → tạo mới.\n\n**Lưu ý:** Chỉ áp dụng khi material có trạng thái `DRAFT` hoặc `REVISION_REQUESTED`.","operationId":"bulkUpdateBlocks","parameters":[{"name":"materialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateBlockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListBlockResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Block"],"summary":"Tạo danh sách các khối nội dung (Bulk Create Blocks)","description":"### Quy trình khởi tạo nội dung tài liệu:\nGửi lên một danh sách các khối nội dung. Hệ thống sẽ tự động tính toán số thứ tự (**idx**) dựa trên vị trí của phần tử trong mảng (bắt đầu từ 0).\n\n| Block Type | Mô tả cách hiển thị |\n| :--- | :--- |\n| **H1** | Tiêu đề chính, cỡ chữ lớn nhất. |\n| **H2** | Tiêu đề phụ, dùng cho các mục nhỏ. |\n| **PARAGRAPH** | Văn bản thông thường, hỗ trợ xuống dòng. |\n| **ORDERED_LIST** | Danh sách có đánh số (1, 2, 3...). |\n| **BULLET_LIST** | Danh sách dấu chấm đầu dòng. |\n| **CODE_BLOCK** | Khối mã nguồn, hiển thị font chữ Mono. |\n| **QUOTE** | Đoạn trích dẫn, có đường kẻ lề trái. |\n| **TABLE** | Dữ liệu bảng (dưới dạng Markdown hoặc JSON String). |\n| **DIVIDER** | Đường kẻ ngang phân cách các phần. |\n\n**Lưu ý:** Nếu tài liệu đã có blocks cũ, bạn nên cân nhắc logic ghi đè hoặc bổ sung tùy theo yêu cầu nghiệp vụ.","operationId":"createBlocks","parameters":[{"name":"materialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListBlockResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/assessments/{id}":{"get":{"tags":["Assessment"],"summary":"Get assessment by ID","operationId":"getAssessmentById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Assessment"],"summary":"Update assessment by ID","operationId":"updateAssessment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Assessment"],"summary":"Soft delete assessment","operationId":"deleteAssessment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/assessment-types/{id}":{"get":{"tags":["Assessment Type"],"summary":"Get assessment type by ID","operationId":"getTypeById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentTypeResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Assessment Type"],"summary":"Update assessment type","operationId":"updateType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentTypeResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Assessment Type"],"summary":"Delete assessment type","operationId":"deleteType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/assessment-categories/{id}":{"get":{"tags":["Assessment Category"],"summary":"Get assessment category by ID","operationId":"getCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentCategoryResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Assessment Category"],"summary":"Update assessment category","operationId":"updateCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentCategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentCategoryResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Assessment Category"],"summary":"Delete assessment category","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accounts":{"get":{"tags":["Account"],"summary":"Get all accounts with pagination and search (role and full name)","description":"Search by role name, full name. Sort format: field 1 là tên trường (createdAt, fullName), field 2 là hướng sắp xếp (asc hoặc desc). Ví dụ: sort=createdAt,desc","operationId":"getAllAccounts","parameters":[{"name":"search","in":"query","description":"Search keyword for role name or full name","required":false,"schema":{"type":"string"}},{"name":"searchBy","in":"query","description":"Search type: 'role' (search by role name), 'name' (search by full name)","required":false,"schema":{"type":"string","default":"role"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["createdAt","desc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseAccountResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Account"],"summary":"Update account by ID","operationId":"updateInformationAccount","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAccountResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Account"],"summary":"Create new account","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAccountResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accounts/{id}":{"get":{"tags":["Account"],"summary":"Get account by ID","operationId":"getAccountById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAccountResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Account"],"summary":"Update status account by ID","operationId":"deleteAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accounts/Department/{id}":{"put":{"tags":["Account"],"summary":"Update Department account by ID","operationId":"changeDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"departmentCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/tasks-v2":{"get":{"tags":["TaskV2"],"operationId":"getAllTasks","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"sprintId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"assignTo","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"createdBy","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseTaskV2Response"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["TaskV2"],"operationId":"createTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskV2CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaskV2Response"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/tasks-v2/byVP":{"post":{"tags":["TaskV2"],"summary":"Create a new task (Specialized for VP)","operationId":"createByVP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskV2CreateVPRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectTaskV2Response"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/tasks-v2/batch/{sprintId}":{"post":{"tags":["TaskV2"],"summary":"Create multiple tasks in a sprint","description":"Auto-create tasks from subjects of sprint's curriculum and department","operationId":"createBatch","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBoolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/reviews-v2":{"get":{"tags":["ReviewV2"],"summary":"Get all reviews with pagination","description":"Filter by taskId. Sorted by createdAt desc by default.","operationId":"getAll","parameters":[{"name":"taskId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseReviewV2Response"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["ReviewV2"],"summary":"Create a new review for a TaskV2","description":"Requires taskId.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewV2CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectReviewV2Response"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms":{"get":{"tags":["Feedback Form"],"summary":"Lay danh sach forms theo curriculum","operationId":"getFormsByCurriculum","parameters":[{"name":"curriculumId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormRecordResponse"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Feedback Form"],"summary":"Tao form feedback moi","operationId":"createForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFormRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormRecordResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/{formId}/trigger-build":{"post":{"tags":["Feedback Form"],"summary":"Kich hoat App Script tao Google Form","operationId":"triggerBuildGoogleForm","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TriggerBuildResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/{formId}/sections":{"get":{"tags":["Feedback Form"],"summary":"Lay danh sach cac sections cua form","operationId":"getSections","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SectionResponse"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Feedback Form"],"summary":"Them section vao form","operationId":"addSection","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SectionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/{formId}/schedule-close":{"post":{"tags":["Feedback Form"],"summary":"Hẹn giờ tự động tắt Google Form","operationId":"scheduleFormClose","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCloseRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/{formId}/google-form-created":{"post":{"tags":["Feedback Form"],"summary":"Callback tu App Script sau khi tao form","operationId":"onGoogleFormCreated","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Webhook-Secret","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleFormCreatedRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/webhook/submit":{"post":{"tags":["Feedback Form"],"summary":"Webhook nhan du lieu submit tu Google Form","operationId":"receiveFormSubmit","parameters":[{"name":"X-Webhook-Secret","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookSubmitResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/forms/sections/{sectionId}/questions":{"post":{"tags":["Feedback Form"],"summary":"Them cau hoi vao section","operationId":"addQuestion","parameters":[{"name":"sectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuestionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/test-email/send":{"post":{"tags":["email-test-controller"],"operationId":"sendEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/syllabus/copy":{"post":{"tags":["Syllabus"],"summary":"Copy data from one syllabus to another","description":"Copies Material, Blocks, Assessment, and Session from oldSyllabusId to newSyllabusId","operationId":"copySyllabusData","parameters":[{"name":"oldSyllabusId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newSyllabusId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/syllabus/compare":{"post":{"tags":["Syllabus"],"operationId":"compareSyllabusVersions","parameters":[{"name":"oldSyllabusId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newSyllabusId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCompareSyllabusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/syllabus/account/{email}":{"post":{"tags":["Syllabus"],"summary":"Create a new syllabus","description":"Initializes a syllabus for a specific subject with status 'DRAFT'","operationId":"create_1","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyllabusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSyllabusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/syllabus-sources/{syllabusId}/sources":{"post":{"tags":["Syllabus Source"],"summary":"Assign sources to a syllabus","description":"Takes a list of Source IDs and links them to a specific Syllabus. Throws an error if the mapping already exists.","operationId":"addSources","parameters":[{"name":"syllabusId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subjects":{"get":{"tags":["Subject"],"summary":"Advanced search subjects with pagination","description":"Search by 'code' or 'name' directly at the database level. Filters by status is also supported.","operationId":"getAll_1","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"searchBy","in":"query","required":false,"schema":{"type":"string","default":"code"}},{"name":"status","in":"query","description":"Filter subjects by their current lifecycle status. Valid values are:\n| Status | Description |\n| :--- | :--- |\n| **DRAFT** | **Biên soạn nháp:** Initial creation. Basic info (code, name) is being entered. Not visible to Curriculum proposals. |\n| **DEFINED** | **Đã xác định nội dung:** Description and credits are finalized. Subject is now eligible to be included in a Curriculum draft for VP approval. |\n| **WAITING_SYLLABUS** | **Chờ Syllabus:** The Curriculum containing this subject is approved. System is waiting for the Department to submit a detailed Syllabus. |\n| **PENDING_REVIEW** | **Đợi phân công review:** Submitted and awaiting review assignment. |\n| **COMPLETED** | **Hoàn tất:** Detailed Syllabus is approved and linked. The subject is fully validated and ready for teaching/enrollment. |\n| **ARCHIVED** | **Lưu trữ:** Subject is retired from active curricula. Kept as Read-only for historical academic records. |","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"subjectCode"}},{"name":"departmentId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Subject"],"summary":"Create a new subject","description":"Registers a new subject in the system with unique subject code","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subjects/import":{"post":{"tags":["Subject"],"summary":"Import subjects from Excel","description":"Import subject records from Excel columns: subjectCode, subjectName, credits, degreeLevel, timeAllocation, description, departmentCode, mintopass, studentLimit, studentTasks, scoringScale","operationId":"importSubjects","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sprints":{"get":{"tags":["Sprint"],"summary":"Advanced search sprints with pagination","operationId":"getAll_2","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"curriculumId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"startDate"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseSprintResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Sprint"],"summary":"Create a new sprint","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSprintResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sources":{"get":{"tags":["Source"],"summary":"Lấy danh sách tài liệu","description":"Hỗ trợ phân trang, tìm kiếm theo tên/tác giả và lọc theo loại tài liệu.","operationId":"getAll_3","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Loại tài liệu (TEXTBOOK, REFERENCE_BOOK, ONLINE_COURSE, DOCUMENTATION, JOURNAL_PAPER, ARTICLE)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Source"],"summary":"Tạo mới tài liệu tham khảo","description":"Tạo một tài liệu mới (Textbook, Reference,...) vào hệ thống.","operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sessions":{"get":{"tags":["Session"],"summary":"Get all sessions with pagination and filters","operationId":"getAllSessions","parameters":[{"name":"syllabusId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["sessionNumber","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseSessionResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Session"],"summary":"Create new session","operationId":"createSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSessionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sessions/syllabus/{syllabusId}/validate":{"post":{"tags":["Session"],"summary":"Kiểm tra tính hợp lệ của quỹ thời gian Sessions","description":"Hàm này tính toán và đối chiếu quỹ thời gian dựa trên danh sách Session truyền vào và các Session đã có sẵn trong Database. Logic xử lý được phân loại chi tiết theo từng `sessionType`:\n\n* **THEORY (Lý thuyết)**: Tổng thời lượng (giờ) được tính toán, làm tròn và quy đổi sang tiết học (45 phút = 1 tiết). Sau đó đối chiếu với quỹ tiết lý thuyết của Subject.\n* **PRACTICE (Thực hành)**: Tương tự như Theory, tổng giờ thực hành được quy đổi sang tiết học và đối chiếu với quỹ tiết thực hành của Subject.\n* **SELF_STUDY (Tự học)**: Tổng thời lượng (giờ) được cộng dồn trực tiếp và đối chiếu với quỹ giờ tự học quy định.\n\n**Kết quả trả về:** Bao gồm chi tiết số dư quỹ thời gian (`remainingQuotas`) và danh sách các mã lỗi cảnh báo (VD: `THEORY_SHORTAGE`, `PRACTICE_SURPLUS`, `SELF_STUDY_SHORTAGE`...) nếu phát hiện sự phân bổ THIẾU hoặc DƯ so với quy định.","operationId":"validateSession","parameters":[{"name":"syllabusId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSessionValidationResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sessions/bluk":{"post":{"tags":["Session"],"summary":"Create new session","operationId":"createSessionBluk","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListSessionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/roles":{"get":{"tags":["Role"],"summary":"Get all roles with pagination and search","operationId":"getAllRoles","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["roleName","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseRoleResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Role"],"summary":"Create new role","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRoleResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/requests":{"get":{"tags":["Request"],"summary":"Get all requests with pagination and filtering","operationId":"getAll_4","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdById","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"receivedById","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseRequestResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Request"],"summary":"Create a new request","operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRequestResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/requests/vp":{"post":{"tags":["Request"],"summary":"Create a new request for VP","operationId":"createForVP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestCreateForVPRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRequestResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/requests/hocfdc":{"post":{"tags":["Request"],"summary":"Create a new request for HoCFDC","operationId":"createForHoCFDC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestCreateForHoCFDCRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRequestResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/regulations":{"post":{"tags":["Regulation"],"summary":"Create regulation","operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectRegulationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/regulations/extract":{"post":{"tags":["Regulation"],"operationId":"extractMasterDataFromPdf","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/proposed-sources":{"get":{"tags":["Proposed Source"],"summary":"Lấy danh sách tất cả đề xuất tài liệu","description":"Hỗ trợ phân trang và tìm kiếm theo tên/mã tài liệu hoặc tên/mã môn học.","operationId":"getAll_5","parameters":[{"name":"search","in":"query","description":"Tìm kiếm theo sourceCode, sourceName, subjectCode, subjectName","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseSourceResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Proposed Source"],"summary":"Tạo đề xuất tài liệu cho môn học","description":"Liên kết một tài liệu (Source) với một môn học (Subject) dưới dạng đề xuất tham khảo.","operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProposedSourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSourceResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/prerequisites":{"post":{"tags":["Prerequisite"],"summary":"Add a prerequisite for a subject","operationId":"create_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrerequisiteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPrerequisiteResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/prerequisites/import":{"post":{"tags":["Prerequisite"],"summary":"Import prerequisites from Excel","operationId":"importPrerequisites","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportPrerequisiteResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/pos/major/{majorId}":{"get":{"tags":["POs"],"summary":"Get POs by Major ID","description":"Retrieve a paginated list of POs belonging to a specific Major.","operationId":"getByMajor","parameters":[{"name":"majorId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"poCode"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponsePOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["POs"],"summary":"Create multiple POs","description":"Create POs linked to a specific Major via PathVariable.","operationId":"createBulk","parameters":[{"name":"majorId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/POsCreateRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListPOsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/pos/major/{majorId}/validate-po":{"post":{"tags":["POs"],"operationId":"validatePo","parameters":[{"name":"majorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectComplianceCheckResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/po-plo-mappings":{"post":{"tags":["PO-PLO Mappings"],"summary":"Create PO-PLO Mapping","description":"Establish a connection between a Program Outcome and a Program Learning Outcome.","operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoPloMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPoPloMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/po-plo-mappings/curriculum/{curriculumId}/validate":{"post":{"tags":["PO-PLO Mappings"],"operationId":"validatePo_1","parameters":[{"name":"curriculumId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PoPloMappingRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPoPloMappingCheckResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/po-plo-mappings/bulk-configure":{"post":{"tags":["PO-PLO Mappings"],"summary":"Bulk configure PO-PLO mappings","operationId":"bulkConfigure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoPloMappingBulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPoPloMappingBulkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/plos/curriculum/{curriculumId}":{"get":{"tags":["PLOs"],"summary":"Get PLOs by Curriculum ID","operationId":"getByCurriculum","parameters":[{"name":"curriculumId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponsePLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["PLOs"],"summary":"Create multiple PLOs","description":"Create PLOs linked to a specific Curriculum via PathVariable.","operationId":"createBulk_1","parameters":[{"name":"curriculumId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PLOsCreateRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListPLOsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/plos/curriculum/{curriculumId}/validate-plo":{"post":{"tags":["PLOs"],"operationId":"validatePlo","parameters":[{"name":"curriculumId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectComplianceCheckResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/permissions":{"get":{"tags":["Permission"],"summary":"Get all permissions with pagination","operationId":"getAllPermissions","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["permissionName","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponsePermissionResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Permission"],"summary":"Create new permission","operationId":"createPermission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPermissionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/permissions/import":{"post":{"tags":["Permission"],"summary":"Import permissions from Excel","operationId":"importPermissions","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportPermissionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/notifications":{"post":{"tags":["Notification"],"summary":"Create and send a notification to a user","operationId":"createNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectNotificationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/notifications/mark-all-as-read":{"post":{"tags":["Notification"],"summary":"Mark all notifications as read","operationId":"markAllAsRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/materials":{"post":{"tags":["Material"],"summary":"Create new material for a syllabus","operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectMaterialResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/majors":{"get":{"tags":["Major"],"summary":"Get majors with pagination and filters","description":"Retrieve a paginated list of majors. Filter by 'major_code', 'major_name', and lifecycle 'status'.","operationId":"getAllMajors","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"searchBy","in":"query","required":false,"schema":{"type":"string","default":"all"}},{"name":"status","in":"query","description":"Filter majors by their current lifecycle status. Valid values are:\n| Status | Description |\n| :--- | :--- |\n| **DRAFT** | **Bản nháp:** Major is under initial definition. Hidden from public and cannot have Curricula assigned. |\n| **INTERNAL_REVIEW** | **Kiểm tra nội bộ:** Content is shared with the Academic Board for auditing and feedback before launch. |\n| **PUBLISHED** | **Công bố:** Major is officially active. Students can enroll, and it is linked to active Curricula. |\n| **ARCHIVED** | **Lưu trữ:** No longer accepting new enrollments. Kept as Read-only for historical transcript verification. |","required":false,"schema":{"type":"string"}},{"name":"updatedYesterday","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["majorCode","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseMajorResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Major"],"summary":"Create a new major","description":"Add a new major to the system. The major code must be unique.","operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MajorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectMajorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/majors/import":{"post":{"tags":["Major"],"summary":"Import Majors from Excel","description":"Import Major records (with POs) from an Excel file.\n\n**Sheet name:** `Major`\n\n**Column headers (row 1):**\n| Column | Required | Description |\n| :--- | :--- | :--- |\n| **Major Code** | Yes | Unique code for the major (e.g. SE, AI) |\n| **Name** | Yes | Full name of the major |\n| **Description** | No | Description of the major |\n| **PO Code** | Yes | Unique PO code (e.g. PO1, PO2). Each row represents one PO. |\n| **PO Description** | No | Description of the PO |\n\n**Notes:**\n- One Major can have multiple POs — repeat the Major Code on each row.\n- If a Major Code already exists in the system, all rows for that Major will be rejected.\n- PO Code must be globally unique across all Majors.","operationId":"importMajors","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportMajorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/group":{"get":{"tags":["Group"],"summary":"Get all groups with pagination, search, and type filter","description":"Filter by type (Group/Elective) first, then search by group code or group name. Sort format: field 1 là tên trường (groupCode, groupName, type), field 2 là hướng sắp xếp (asc hoặc desc). Ví dụ: sort=groupCode,asc","operationId":"getAllGroups","parameters":[{"name":"search","in":"query","description":"Search keyword for code or name","required":false,"schema":{"type":"string"}},{"name":"searchBy","in":"query","description":"Search type: 'code' hoặc 'name'","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Type filter: 'Group', 'Elective', or 'all'","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["groupCode","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseGroupResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Group"],"summary":"Create new group","operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectGroupResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/group/import":{"post":{"tags":["Group"],"summary":"Import groups from Excel","operationId":"importGroups","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportGroupResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/document":{"get":{"tags":["Document"],"summary":"Get all documents with pagination and search","operationId":"getAll_6","parameters":[{"name":"majorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","description":"Trạng thái của tài liệu. Các giá trị hợp lệ: ACTIVE, DELETED","required":false,"schema":{"type":"string"},"example":"ACTIVE"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListDocumentResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Document"],"summary":"Create a new document","operationId":"create_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDocumentResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/departments":{"get":{"tags":["Department"],"summary":"Get all departments with pagination and search","operationId":"getAll_7","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseDepartmentResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Department"],"summary":"Create a new department","operationId":"create_13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectDepartmentResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculums":{"get":{"tags":["Curriculum"],"summary":"Get curriculums with pagination and filters","description":"Retrieve a paginated list of curriculums. You can filter by curriculum code, name, major, and status.","operationId":"getAllCurriculums","parameters":[{"name":"search","in":"query","description":"Search keyword for curriculum code or name","required":false,"schema":{"type":"string"}},{"name":"searchBy","in":"query","description":"Search by: 'code', 'name', or 'all'","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Bộ lọc trạng thái vòng đời của Khung chương trình (Curriculum Lifecycle). Các giá trị hợp lệ bao gồm:\n\n| Status | Ý nghĩa nghiệp vụ (Nghiệp vụ) |\n| :--- | :--- |\n| **DRAFT** | **Biên soạn nháp:** HoCF đang khởi tạo cấu trúc khung, chưa hiển thị cho các vai trò khác. |\n| **STRUCTURE_REVIEWED** | **Đang duyệt cấu trúc:** Đang trong quá trình đợi Vice President (VP) xem xét và đánh giá khung. |\n| **STRUCTURE_APPROVED** | **Đã duyệt cấu trúc:** VP đã ký duyệt khung, **chính thức bàn giao** nhiệm vụ cho HoPDC. |\n| **SYLLABUS_DEVELOP**| **Phát triển Syllabus:** HoPDC và các Bộ môn đang xây dựng chi tiết từng đề cương môn học. |\n| **FINAL_REVIEW** | **Thẩm định cuối:** Hội đồng rà soát toàn bộ nội dung (Khung + Syllabus) trước khi trình ký chính thức. |\n| **SIGNED** | **Đã ký ban hành:** Đã có quyết định ban hành chính thức từ Ban giám hiệu/VP. |\n| **PUBLISHED** | **Công bố:** Chương trình và tất cả Syllabus liên kết đã công khai cho sinh viên tra cứu. |\n| **ARCHIVED** | **Lưu trữ:** Phiên bản cũ, không còn áp dụng cho các khóa tuyển sinh mới. |","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number (0-based)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"Sort field and direction: [field, asc|desc]","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["curriculumCode","asc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Curriculum"],"summary":"Create a new curriculum","description":"Create a new curriculum with unique curriculum code. Requires CURRICULUM_CREATE permission.","operationId":"createCurriculum","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurriculumCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculums/import":{"post":{"tags":["Curriculum"],"summary":"Import Curriculums from Excel","description":"Import Curriculum records (with PLOs) from an Excel file.\n\n**Sheet name:** `Curriculum`\n\n**Column headers (row 1):**\n| Column | Required | Description |\n| :--- | :--- | :--- |\n| **Curriculum Code** | Yes | Unique code for the curriculum (e.g. SE1901) |\n| **Name** | Yes | Full name of the curriculum |\n| **Start Year** | No | Year the curriculum starts (e.g. 2019) |\n| **Description** | No | Description of the curriculum |\n| **Major Code** | Yes | Existing Major Code the curriculum belongs to |\n| **PLO Code** | Yes | Unique PLO code (e.g. PLO1, PLO2). Each row = one PLO. |\n| **PLO Description** | No | Description of the PLO |\n\n**Notes:**\n- One Curriculum can have multiple PLOs — repeat the Curriculum Code on each row.\n- If a Curriculum Code already exists in the system, all rows for that Curriculum will be rejected.\n- PLO Code must be globally unique across all Curriculums.\n- Major Code must already exist in the system.","operationId":"importCurriculums","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculums/import-full":{"post":{"tags":["Curriculum"],"summary":"Import Full Curriculum from Excel","description":"Imports an entire curriculum system from a single Excel file with multiple sheets.\n\n**Expected Sheets:**\n- `Major`: Major data and POs.\n- `Curriculum`: Curriculum data, PLOs, and PO mapping.\n- `Subject`: Subjects list.\n- `Group`: Elective groups.\n- `Semester Mapping`: Mapping between Curriculum, Group, Subject, and Semester.\n- `Source`","operationId":"importFullCurriculum","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportFullCurriculumResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculum-group-subjects":{"post":{"tags":["Curriculum Group Subject"],"summary":"Add subject to curriculum (via group)","description":"Create a mapping between Curriculum, Group (optional), and Subject. This assigns a subject to a curriculum, optionally within a group group, and specifies the recommended semester. Requires CURRICULUM_UPDATE permission.","operationId":"createCurriculumGroupSubject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurriculumGroupSubjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCurriculumGroupSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculum-group-subjects/import":{"post":{"tags":["Curriculum Group Subject"],"summary":"Import curriculum-group-subject mappings from Excel","description":"Import mappings from Excel columns: Group code, Subject Code, Semester. Curriculum is provided by request parameter curriculumId.","operationId":"importCurriculumGroupSubjectMappings","parameters":[{"name":"curriculumId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportCurriculumGroupSubjectResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/curriculum-group-subjects/bulk-configure":{"post":{"tags":["Curriculum Group Subject"],"summary":"Bulk configure semester-subject-group mappings ","description":"Delete mappings by deleteSubjectsList (if provided) before processing insert. Then atomically insert multiple subject-semester-group mappings for a curriculum. when a duplicate subject exists in the same curriculum: if groupId is not null then add; if groupId is null then skip that item and continue processing others.","operationId":"bulkConfigureSemesterMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkSemesterMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectBulkSemesterMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clos/subject/{subjectId}":{"get":{"tags":["CLOs"],"summary":"Get list of CLOs by Subject ID with pagination","operationId":"getBySubject","parameters":[{"name":"subjectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectPagedResponseCLOsResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["CLOs"],"summary":"Create multiple CLOs","description":"Create CLOs linked to a specific Subject via PathVariable.","operationId":"createBulk_2","parameters":[{"name":"subjectId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CLOsCreateRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListCLOsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clos/import":{"post":{"tags":["CLOs"],"summary":"Import CLO_PLO_Mapping from Excel file","operationId":"importExcel","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectImportCloPloMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clos/generate":{"post":{"tags":["CLOs"],"summary":"Generate a new CLO using AI","operationId":"generateClo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloGenerationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CLOsGenerationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clos/check":{"post":{"tags":["CLOs"],"summary":"Validate CLO against Bloom's Taxonomy","operationId":"checkClo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloCheckRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CloCheckResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-session-mappings":{"post":{"tags":["CLO-Session Mappings"],"summary":"Create CLO-Session Mapping","operationId":"create_14","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloSessionMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloSessionMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-session-mappings/syllabus/{syllabusId}/validate":{"post":{"tags":["CLO-Session Mappings"],"summary":"Check a CLO-Session Mapping","operationId":"checkMapping","parameters":[{"name":"syllabusId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloSessionMappingRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectSessionCloMappingValidationResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-session-mappings/batch":{"post":{"tags":["CLO-Session Mappings"],"summary":"Create CLO-Session mappings in batch","operationId":"createBatch_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloSessionMappingBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListCloSessionMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-plo-mappings":{"post":{"tags":["CLO-PLO Mappings"],"summary":"Create CLO-PLO Mapping","operationId":"create_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloPloMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloPloMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-plo-mappings/curriculum/{curriculumId}/subject/{subjectId}/validate":{"post":{"tags":["CLO-PLO Mappings"],"operationId":"validatePo_2","parameters":[{"name":"curriculumId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"subjectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloPloMappingRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloPloMappingCheckResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-plo-mappings/bulk-configure":{"post":{"tags":["CLO-PLO Mappings"],"summary":"Bulk configure CLO-PLO mappings","operationId":"bulkConfigure_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloPloMappingBulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloPloMappingBulkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-assessment-mappings":{"post":{"tags":["CLO-Assessment Mappings"],"summary":"Create CLO-Assessment Mapping","operationId":"create_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloAssessmentMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectCloAssessmentMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-assessment-mappings/syllabus/{syllabusId}/validate":{"post":{"tags":["CLO-Assessment Mappings"],"summary":"Check a CLO-Assessment Mapping","operationId":"checkMapping_1","parameters":[{"name":"syllabusId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloAssessmentMappingRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectAssessmentCloMappingValidationResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/clo-assessment-mappings/batch":{"post":{"tags":["CLO-Assessment Mappings"],"summary":"Create CLO-Assessment mappings in batch","operationId":"createBatch_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloAssessmentMappingBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseObjectListCloAssessmentMappingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/blocks/material/{materialId}/with-idx":{"post":{"tags":["Block"],"summary":"Tạo danh sách các khối nội dung với idx do client chỉ định","description":"### Tạo danh sách blocks với thứ tự (idx) do client tự định nghĩa:\nKhác với API tạo cư (tự tính idx theo vị trí trong mảng), API này cho phép client gửi kèm giá trị **idx** cho từng block.\n\n| Block Type | Mô tả cách hiển thị |\n| :--- | :--- |\n| **H1** | Tiêu đề chính, cỡ chữ lớn nhất. |\n| **H2** | Tiêu đề phụ, dùng cho các mục nhỏ. |\n| **PARAGRAPH** | Văn bản thông thường, hỗ trợ xuống dòng. |\n| **ORDERED_LIST** | Danh sách có đánh số (1, 2, 3...). |\n| **BULLET_LIST** | Danh sách dấu chấm đầu dòng. |\n| **CODE_BLOCK** | Khối mã nguồn, hiển thị font chữ Mono. |\n| **QUOTE** | Đoạn trích dẫn, có đường kẻ lề trái. |\n| **TABLE** | Dữ liệu bảng (dưới dạng Markdown hoặc JSON String). |\n| **DIVIDER** | Đường kẻ ngang phân cách các phần. |\n\n**Lưu ý:** Giá trị **idx** do client tự cung cấp, cho phép chèn block vào bất kỳ vị trí nào mà không phụ thuộc vào thứ tự trong mảng.","operationId":"createBlocksWithIdx","parameters":[{"name":"materialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockWithIdxRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Respo
[...]
